pip   
altair  
argon-cffi   
astor   
astroid   
async-generator  
attrs   
backcall   
base   
bleach   
blinker  
boto   
botocore   
cachetools  
certifi   
cffi  
chardet   
click   
colorama  
Counter   
cycler   
decorator 
defusedxml   
entrypoints  
enum-compat   
idna  
importlib-metadata   
ipython-genutils   
ipywidgets   
isort  
jedi   
Jinja   
jmespath   
joblib  
jsonschema   
jupyter-client   
jupyter-core  
jupyterlab-pygments   
kiwisolver   
lazy-object-proxy  
MarkupSafe   
matplotlib   
mccabe   
mistune   
nbclient   
nbconvert   
nbformat   
nest-asyncio  
notebook   
numpy   
oauthlib   
packaging  
pandas   
pandocfilters  
parso   
pathtools   
patsy   
pickleshare   
Pillow   
prometheus-client   
prompt-toolkit   
protobuf   
pyarrow   
pycparser  
pydeck   b
Pygments   
pylint   
pyparsing  
pyrsistent   
PySocks   
python-dateutil   
pywinpty   
pyzmq   
requests  
requests-oauthlib   
stransfer   
scikit-learn   
scipy  
seaborn   
SendTrash   
six   
sklearn  
statsmodels   
streamlit   
tweepy   
textblob   
typed-ast  
tzlocal  
urllib   
validators   
watchdog   
wcwidth   
webencodings   
widgetsnbextension   
wrapt   
xgboost  
zipp   
